USERS_SERVICE_PORT=8001
ORDERS_SERVICE_PORT=8002

USERS_DB_NAME=users_db
USERS_DB_USER=users_app
USERS_DB_PASSWORD=users_secret

ORDERS_DB_NAME=orders_db
ORDERS_DB_USER=orders_app
ORDERS_DB_PASSWORD=orders_secret

USERS_SERVICE_URL=http://users-service:8000
USER_DIRECTORY_TIMEOUT_MS=2000

LOG_LEVEL=info
