.env

__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/

node_modules/
bun.lockb
*.tsbuildinfo

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

*.log

entrega/entrega.html
entrega/assets/*.mmd

entrega/.fuentes/
